@model IEnumerable<EGovProject.Models.ViewModel.ProblemModel>

@{
    ViewData["Title"] = "ProblemList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}

<style>


    .table {
        overflow-y: auto;
        border-radius: 50px;
        padding: 1rem;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

        table thead th,
        table tbody td {
            padding: 15px;
            border: none;
            font-weight: 600;
            font-size: 14px;
        }

        table thead th {
            background: #1861ac;
            color: white;
            font-size: 16px;
            position: sticky;
            top: -1%;
        }

        table tbody td {
            border-bottom: 1px solid rgba(0,0,0,0.1);
            border-left: 1px solid rgba(0,0,0,0.1);
        }
</style>
<section class="page-title-breadcrumb">
    <div class="container flex-container">
        <div class="breadcrumb">
            <h2 class="element-invisible">You are here</h2><div class="breadcrumb"><a href="/">Home</a> » समस्याहरुको विवरण</div>
        </div>
    </div>
</section>

<h1>समस्याहरुको विवरण</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                नं
            </th>
            <th>
                नाम
            </th>
            <th>
                प्रकार
            </th>
            <th>
                स्थान
            </th>
            <th>
              मिति/समय
            </th>
            <th>
                विवरण
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @counter
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Details)
                </td>

            </tr>
            counter++;
        }
    </tbody>
</table>
